/* Réduit les marges latérales */
.md-grid {
  max-width: 1800px;
}

/* Élargit la TOC (sidebar droite) sans toucher au menu gauche */
.md-sidebar--secondary {
  width: 18rem;
}

.md-sidebar--secondary .md-sidebar__scrollwrap {
  width: 18rem;
}

/* Réduit la police de la TOC */
.md-sidebar--secondary .md-nav__link {
  font-size: 0.65rem;
}
